body{
    display: inline-block;

}

.flag{
   margin-left: 20px;
   margin-top: -690px;   
    

}

.rod{
    width: 20px;
    background-color: grey;
    height: 700px;
    

}
.orange, .white, .green{
    height: 100px;
    width: 500px;
}

.orange{
    background-color: #ff9933;
  
}
.white{
    background-color: white;
    display: flex;
    justify-content: center;
 
}
.green{
    background-color: green;
}

.ashok-chakra{
    outline : 1px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
}

.line{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: darkblue;
    left: 50%;
}
.line:nth-child(1){
    transform: rotate(15deg);
}
.line:nth-child(2) {
    transform: rotate(30deg);
}
.line:nth-child(3){
    transform: rotate(45deg);
}
.line:nth-child(4){
    transform: rotate(60deg);
}
.line:nth-child(5){
    transform: rotate(75deg);
}
.line:nth-child(6){
    transform: rotate(90deg);
}
.line:nth-child(7){
    transform: rotate(105deg);
}
.line:nth-child(8){
    transform: rotate(120deg);
}
.line:nth-child(9){
    transform: rotate(135deg);
}
.line:nth-child(10){
    transform: rotate(150deg);
}
.line:nth-child(11){
    transform: rotate(165deg);
}
.line:nth-child(12){
    transform: rotate(180deg);
}




.ashok-chakra {
    animation-name: ashok-chakra;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
 
@keyframes ashok-chakra {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}